<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <%-include ('partials/head')%>

</head>

<body>

    <%- include ('partials/navigation')%>

        <!-- MAIN CONTENT -->

      

                <!-- ======= Hero Section ======= -->
                <section id="hero" class="d-flex align-items-center">
                    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">

                    </div>
                </section><!-- End Hero -->




                <!-- ======= Contact Section ======= -->
                <section id="contact" class="contact">
                    <div id="letter-reserv" class="container">

                        <div class="col-lg-12 col-md-12">
                            <div class="info-box  mb-4">
                                <i class="bx bx-gift"></i>
                                <h2>Reservado para <strong class="number-person">3</strong> personas</h2>
                                <h2>Hay tres cosas importantes </h2>
                                <h2>en la vida Salud, Dinero y </h2>
                                <h2>Amor, afortunadamente </h2>
                                <h2>nos sobra Salud y Amor </h2>
                                <h2>En el salon habra un cofre.</h2>
                                <h2> ¡Muchas Gracias!</h2>

                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="info-box  mb-4">
                                <i class="bx bx-calendar"></i>
                                <h2>Confirmar Asistencia</h2>
                                <h2>Porfavor confirmar su asistencia antes del</h2>
                                <h2>28 de noviembre del 2022</h2>
                                <h2 class="lowercase"><%=invitado%></h2>
                                <span><a></a></span>
                            </div>
                        </div>







                        <div class="col-lg-12 col-md-12">
                            <div class="info-box  mb-4">
                                <i class="bx bx-map"></i>
                                <h2>Country Club</h2>
                                <h2>Tegucigalpa, Salon Principal </h2>
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15479.279196646874!2d-87.2201875!3d14.0878125!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcab34d6b4d20a109!2sCountry%20Club%20%26%20Golf!5e0!3m2!1ses-419!2shn!4v1668399948659!5m2!1ses-419!2shn"
                                    width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>


                            </div>

                        </div>



                    </div>

            </div>
            </section><!-- End Contact Section -->

            </main><!-- End #main -->

           
            

        <%- include ('partials/footer')%>
</body>

</html>